.section {
  position: relative;
  min-height: 100vh;
  background-image: url('../../assets/dashboard/mobile@1x.png');
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url('../../assets/dashboard/mobile@2x.png');
  }

  @media (min-width: 768px) {
    background-image: url('../../assets/dashboard/tablet@1x.png');

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url('../../assets/dashboard/tablet@2x.png');
    }
  }

  @media (min-width: 1280px) {
    background-image: url('../../assets/dashboard/desktop@1x.png');

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url('../../assets/dashboard/desktop@2x.png');
    }
  }
}

.container {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    padding-inline: 0;
  }

  @media (min-width: 768px) {
    gap: 32px;
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 70px;
    padding-left: 0;
  }
}

.userBarContainer {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  @media (min-width: 1280px) {
    position: sticky;
    top: 80px;
    max-height: 630px;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    border-right: 1px solid var(--white-600);
  }
}

.navAndBalCont {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
