.title {
  font-weight: 400;
  font-size: 30px;
  color: var(--white);
  margin-bottom: 12px;
}

.container {
  @media (min-width: 768px) {
    display: flex;
    gap: 32px;
  }

  @media (min-width: 1280px) {
    padding-block: 32px;
  }
}

.wrapTable {
  width: 100%;

  @media (min-width: 1280px) {
    width: 395px;
  }
}
