html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-pr);
  color: var(--white);
  background-color: #000;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input,
select,
textarea {
  padding: 0;
  outline: none;
  border: none;
}

input {
  &:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: var(--white-600);
  }

  &[type='number'] {
    appearance: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

textarea {
  resize: none;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-pr-effect {
  transition: opacity 200ms ease, transform 50ms ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(2px);
  }
}

.calendar {
  background: linear-gradient(
    180deg,
    rgba(83, 61, 186),
    rgba(80, 48, 154),
    rgba(106, 70, 165),
    rgba(133, 93, 175)
  );
  color: var(--white);
  border: none;
  font-family: var(--font-pr);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);

  & .react-datepicker__current-month {
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
  }

  & .react-datepicker__day-name {
    color: var(--white-600);
    font-weight: 500;
  }

  & .react-datepicker__day {
    color: var(--white-600);
    margin: 2px;
    transition: background-color 200ms ease, border-radius 200ms ease, transform 50ms ease;

    &:not([aria-disabled='true']):hover {
      border-radius: 50%;
      background-color: var(--form-color);
    }

    &:not([aria-disabled='true']):active {
      transform: translateY(2px);
    }
  }

  & .react-datepicker__day--today {
    color: var(--yellow);
    border-radius: 50%;
  }

  & .react-datepicker__day--selected {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--white);
    border-radius: 50%;
  }

  & .react-datepicker__header {
    background: rgba(80, 48, 154);
  }
}
