:root {
  /* Fonts */
  --font-pr: 'Poppins', sans-serif;
  --font-sec: 'Circe', sans-serif;

  /* Color */
  --yellow: #ffb627;
  --violet-10: #734aef;
  --violet-20: #1b1533;
  --white: #fbfbfb;
  --white-400: rgba(255, 255, 255, 0.4);
  --white-600: rgba(255, 255, 255, 0.6);
  --text-button: #623f8b;
  --dashboard-text: #ff868d;
  --form-color: rgba(255, 255, 255, 0.1);
}
