.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-right: auto;
  max-width: 329px;
  height: 568px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: var(--form-color);
}

.formLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 54px;
  margin: 97px auto 52px;
}
.formGroup {
  width: 280px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.logoIcon {
  color: var(--white-600);
  opacity: 0.4;
  flex-shrink: 0;
  margin-left: 12px;
  margin-bottom: 10px;
}
.loginLabel {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Паличка */
  gap: 20px; /* Відступ між іконкою та інпутом */

  width: 100%;
}
.loginField {
  flex: 1; /* Щоб інпут займав весь доступний простір */
  background: transparent;
  border: none;
  outline: none;
  color: var(--white-600);
  opacity: 1;
  margin-bottom: 8px;
}
.loginField::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white-600);
  opacity: 0.4;
}

.error {
  color: #ff6b6b; /* або будь-який інший червоний */
  font-size: 12px;
  margin-top: 4px;
  align-self: flex-start;
}
.loginBtn {
  padding: 13px 98px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(167deg, #ffc727 0%, #9e40ba 61.46%, #7000ff 90.54%);
  font-family: var(--font-family);
  font-weight: 400;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
.loginLink {
  padding: 13px 55px;
  width: 280px;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 98px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  font-family: var(--font-family);
  font-weight: 400;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-button);
}
