.chart {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  position: relative;

  @media (min-width: 768px) {
    width: 336px;
    height: 336px;
    margin: 0;
  }

  @media (min-width: 1280px) {
    width: 288px;
    height: 288px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 100%;
    box-shadow: inset 0 0 8px 0 #000;
  }

  &::after {
    content: '';
    position: absolute;
    width: 192px;
    height: 192px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 8px 0 #000;

    @media (min-width: 768px) {
      width: 231px;
      height: 231px;
    }

    @media (min-width: 1280px) {
      width: 198px;
      height: 198px;
    }
  }
}

.wrapSkeleton {
  position: relative;
  width: 100%;
  height: 100%;
}

.skeletonCircle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mask-image: radial-gradient(circle 97px at center, transparent 96px, black 97px);
  -webkit-mask-image: radial-gradient(
    circle 97px at center,
    transparent 96px,
    black 97px
  );

  @media (min-width: 768px) {
    mask-image: radial-gradient(circle 116px at center, transparent 115px, black 116px);
    -webkit-mask-image: radial-gradient(
      circle 116px at center,
      transparent 115px,
      black 116px
    );
  }

  @media (min-width: 1280px) {
    mask-image: radial-gradient(circle 100px at center, transparent 99px, black 100px);
    -webkit-mask-image: radial-gradient(
      circle 100px at center,
      transparent 99px,
      black 100px
    );
  }
}

.skeleton {
  position: absolute;
  max-width: 100px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 4px 0 #000;
}
