.itemLine {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 20px;

  &:last-child {
    border-bottom: none;
  }
}

.boldText {
  font-weight: 600;
}

.deleteBtn {
  color: #fff;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 12px;
  border-radius: 18px;
  background: linear-gradient(167deg, #ffc727 0%, #9e40ba 61.46%, #7000ff 90.54%);
  height: 29px;
  width: 69px;
  text-transform: capitalize;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
}

.editBtn {
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    color: var(--white-600);
  }
}

.btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
}

.length {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}
