.container {
  overflow: hidden;
  background-color: rgba(74, 86, 226, 0.1);
  width: 320px;
  height: 214px;

  @media (min-width: 768px) {
    width: 336px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  @media (min-width: 1280px) {
    width: 480px;
    height: 380px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  table {
    border-collapse: collapse !important;
    table-layout: fixed !important;
    width: 100% !important;
    text-align: center;
  }

  thead {
    background-color: rgba(255, 255, 255, 0.2);
  }

  td {
    font-family: var(--font-sec);
  }

  th {
    padding-block: 12px;
  }

  td {
    padding-block: 8px;
  }
}

.chart {
  @media (min-width: 1280px) {
    position: relative;

    .usd,
    .euro {
      color: #ff868d;
      position: absolute;
    }

    .usd {
      top: 100px;
      left: 102px;
    }

    .euro {
      top: 8px;
      right: 102px;
    }
  }
}

.skeleton {
  width: 100%;
  height: 214px;

  @media (min-width: 1280px) {
    height: 100%;
  }
}
