.item-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;

  @media (min-width: 768px) {
    background-color: transparent;
    border: none;
    display: flex;
  }
}

.item-card::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 100%;
}

.item-card.expense::before {
  background-color: var(--dashboard-text);
}

.item-card.income::before {
  background-color: var(--yellow);
}

.item-card:last-child {
  margin-bottom: 0;
}

.table {
  border-collapse: collapse;
  background: transparent;
  width: 100%;
  margin: 0 auto;
}

.table th,
td {
  padding: 16px;
  text-align: left;
  font-weight: 600;
}
.thead-row {
  background-color: rgba(82, 59, 126, 0.6);
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
}

.thead-row th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.thead-row th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.item-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-row:last-child {
  border-bottom: none;
}

.thead-row .delete-btn {
  color: #fff;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 18px;
  background: linear-gradient(167deg, #ffc727 0%, #9e40ba 61.46%, #7000ff 90.54%);
  height: 29px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
}

.edit-btn span {
  margin-left: 4px;
  color: var(--white-600);
}

.transactionsContainer {
  @media screen and (min-width: 1280px) {
    padding-top: 46px;
  }
}

.scrollContainer {
  padding-block: 12px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.noTransactionsContainer {
  padding-block: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  @media (min-width: 1280px) {
    padding-top: 46px;
  }
}
