.avatar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.initial {
  background-color: #6c3db5;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-600);
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}
